@media screen and (min-width:375px) {

    .custom-margin{
        margin-left: 0 !important;
    }

    .custom-aside{
        height: unset !important;
    }

    .main-navigation.d-flex.flex-column.w-100.vh-100.justify-content-around {
        height: unset !important;
    }

    div#offcanvasScrolling {
        width: 100% !important;
        height: 440px !important;
    }
    .about-section-title>h2 {
        font-size: 60px !important;
    }

    .fs-36 {
        font-size: 30px !important;
    }

    .counters{
        width: 50%;
    }
    .counter-font {
        font-size: 38px !important;
    }
    .services-section-container {
        padding: 100px 0 !important;
    }

    .services-itmes {
        padding-left: 89px !important;
    }

    .portfolio-section-container {
        padding: 100px 20px !important;
    }

    .testimonial-section-container {
        padding: 100px 20px !important;
    }

    .contact-section-container {
        padding: 100px 10px !important;
    }
    
    .w-50 {
        width: 100%!important;
    }

    .footer-container {
        padding: 70px 20px !important;
        background-color: var(--background-color-1);
    }

    .fixed{
        position: fixed;
        top: 0;
        z-index: 999;
    }
}

@media screen and (min-width:768px){
    .about-section-title>h2 {
        font-size: 90px !important;
    }
    .fs-36 {
        font-size: 36px !important;
    }
    .counters{
        width: 25%;
    }
    
}

@media screen and (min-width:992px){
    .custom-margin{
        margin-left: 25% !important;
    }
    .custom-aside {
        height: 100vh !important;
    }
}
@media screen and (min-width:1200px){
    .custom-margin {
        margin-left: 16.6% !important;
    }
    .counters{
        width: 25%;
    }
    .counter-font {
        font-size: 48px !important;
    }
    .services-section-container {
        padding: 100px 48px !important;
    }

    .services-itmes {
        padding-left: 65px !important;
    }
    .portfolio-section-container {
        padding: 100px 48px !important;
    }
    .testimonial-section-container {
        padding: 100px 48px !important;
    }
    .custom-aside{
        height: 100vh !important;
    }

    .main-navigation.d-flex.flex-column.w-100.vh-100.justify-content-around {
        height: 100vh !important;
    }
}

@media screen and (min-width:1400px){
    .about-section-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .services-section-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .resume-section-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .portfolio-section-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .testimonial-section-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .contact-section-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .footer-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 30px;
    }
}