:root {
    --primary-bg: #212529;
    --secondary-bg: #343a40;
    --bg-black: black;
    --primary-font: 'Poppins', sans-serif;
    --primary-color: #20c997;
  }
  
.bg-balck{
    background-color: var(--bg-black);
  }
.text-green{
    color: var(--primary-color);
}


section , aside , header{
    overflow: hidden;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-dialog {
    max-width: 800px;
}

.modal-content {
    color: #dee3e4 !important;
    background-color: #343a40 !important;
}
body {
    font-family: var(--primary-font);
}

::selection {
    background-color: var(--primary-color);
    color: white;
}


.bg-color {
    background-color: #111418;
}

.s-p-color-2 {
    color: #dee3e4 !important;
}

.s-p-color-3 {
    color: #6c757d !important;
}

.fw-5 {
    font-weight: 500;
}

.lh-28 {
    line-height: 29px;
}

.fs-18 {
    font-size: 18px !important;
}
.font-21{
    font-size: 21px;
}

.navigation-menu .container-fluid {
    flex-direction: column;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: column;
}

.bg-dark-2 {
    background-color: var(--secondary-bg) !important;
}



.text-color {
    font-size: 14px;
    color: #aab1b8;
}

.nav-item .nav-link:hover {
    color: var(--primary-color) !important;
}

.social-icons-li {
    position: relative;

}

.social-icons-li>.social-link {
    transition: all 0.3s ease-in-out;
}


/* Home Section Start */

.custom-margin{
    margin-left: 225px;
}

.main-image::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.613);
    position: absolute;
}

.fw-800 {
    font-weight: 600;
}


.hire-btn {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 500;
    padding: 13px 42px;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.hire-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.scroll-down-btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: scrolling;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
/* About Section*/
.about-section-container {
    padding:100px 0;
    background-color: var(--primary-bg) !important;
}

.about-section-title>h2 {
    opacity: .1;
    font-size: 132px;
    color: #6c757d;
}


.fs-36 {
    font-size: 36px;
}

.b-bottom {
    position: absolute;
    bottom: 37%;
    width: 75px;
    height: 3px;
    background-color: var(--primary-color);
}

.text-green {
    color: var(--primary-color);
}

.text-green:hover {
    color: #1baa80;
    transition: all .2s ease;
}


.details {
    color: hsla(0, 0%, 100%, .5) !important;
}

.about-person-ul {
    margin-bottom: 35px;
}

.about-person-li {
    color: #dee3e4;
    border-color: hsla(0, 0%, 98%, .12) !important;
    padding: 12px 0;
}

.bg-green {
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.bg-green:hover {
    background-color: #1baa80;
    border-color: #1baa80;
}

.counter-font {
    color: hsla(0, 0%, 100%, .5) !important;
    font-weight: 500;
    font-size: 48px;
}

.border-color {
    border-color: hsla(0, 0%, 98%, .12) !important;
}
/* Services Section */
.services-section-container {
    padding: 100px 48px;
    background-color: var(--secondary-bg) !important;
}

.service-icon {
    width: 70px;
    height: 70px;
    color: var(--primary-color) !important;
    background-color: var(--primary-bg) !important;
}

.s-p-color {
    color: hsla(0, 0%, 100%, .5) !important;
    line-height: 1.8rem;
}

.services-itmes {
    padding-left: 65px;
}

/* Resume Section */

.resume-section-container {
    padding: 100px 0;
    background-color: var(--primary-bg) !important;
}

.year {
    padding: 2px 10px;
}

.fs-14 {
    font-size: 14px;
}

.progress {
    height: 0.5rem;
    background-color: #111418;
}

.value-65 {
    width: 65%;
    background-color: var(--primary-color);
}

.value-95 {
    width: 95%;
    background-color: var(--primary-color);
}

.value-80 {
    width: 80%;
    background-color: var(--primary-color);
}

.value-70 {
    width: 70%;
    background-color: var(--gprimary-color);
}

.value-60 {
    width: 60%;
    background-color: var(--primary-color);
}

.value-99 {
    width: 99%;
    background-color: var(--primary-color);
}

.cv-btn {
    border-color: #6c757d !important;
    color: #6c757d;
    padding: 0.8rem 2.6rem;
    transition: all 0.5s ease;
}

.cv-btn:hover {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

/* Portfolio Section */

.portfolio-section-container {
    padding: 100px 48px;
    background-color: var(--secondary-bg);
}

.overlay {
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, .7);
    transition: all 0.5s ease;
}

.portfolio-img img {
    transition: all 0.5s ease;
}

.portfolio-img:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.portfolio-img:hover img {
    filter: blur(2px);
    transform: scale(1.03);
}

.tabbing-li>.tabbing-link {
    transition: all 0.5s ease;
}

.tabbing-li>.tabbing-link:hover {
    color: var(--primary-color) !important;
}

/* Testimonial Section */

.testimonial-section-container {
    padding: 100px 48px;
    background-color: var(--primary-bg);
}

.testimonial-comment>p {
    line-height: 1.8rem;
}

button.owl-dot.active {
    width: 26px;
    height: 26px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color) !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: #111418;
}

/* Contact Section */

.contact-section-container {
    padding: 100px 48px;
    background-color: var(--secondary-bg);
}

form .name-email>input {
    background: #232a31;
    border-color: #232a31;
    padding: 0.81rem 0.96rem;
    color: #fff;

}

form .name-email>input:focus {
    border-color: #80bdff !important;
    box-shadow: 0 0 5px rgba(128, 189, 255, .5);
    background-color: #232a31;
    color: #fff;
}

form .name-email>input::placeholder {
    color: #6c757d;
}

.address>textarea::placeholder {
    color: #6c757d;
}

.address>textarea {
    background: #232a31;
    border-color: #232a31;
    color: #fff;
    padding: 0.81rem 0.96rem;
}

.address>textarea:focus {
    border-color: #80bdff !important;
    box-shadow: 0 0 5px rgba(128, 189, 255, .5);
    background-color: #232a31;
    color: #fff;
}

/* Footer */

.footer-container {
    padding: 70px 48px;
    background-color: var(--primary-bg);
}

.term-condition a:hover {
    color: white !important;
}

.back-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}

.offcanvas {
    width: 200px !important;
    height: 300px !important;
}

.back-to-top:hover{
    background-color: var(--primary-color);
    color: #fff;
    transition: all 0.5s ease;
}



@keyframes scrolling {
    0% {
        transform: translateY(0);
        opacity: 0.3;
    }

    100% {
        transform: translateY(40px);
    }
}